@page
@model IndexModel
@using X.PagedList
@using X.PagedList.Mvc.Core
@using BlogEX.Helper
@using X.PagedList.Mvc.Core.Common

@{
    ViewData["Title"] = "Home page";
}

<div class="col-md-8">
    <h1 class="my-4">
        Page Heading
        <small>Secondary Text</small>
    </h1>

    <!-- Blog Post -->
    @foreach (var item in Model.Article)
    {
        <div class="card mb-4">
            <img class="card-img-top" src="@item.CoverPhoto" alt="@item.Title">
            <div class="card-body">
                <h2 class="card-title">@item.Title</h2>
                <p class="card-text">@Html.Raw(item.Body)</p>
                <partial name="_tag" for="@item.Tags" />

                <tags-helper>@item.Tags</tags-helper>
            </div>
            <div class="card-footer text-muted">
                Posted on @item.CreateDate.ToString("yyyy-MM-dd") by me
            </div>
        </div>
    }
    <!-- Pagination -->
    @Html.PagedListPager((IPagedList)Model.Article,
        page => Url.Page("index", new { p = page }),
        PagingOptionsHelper.FrontEnd)
    <!-- Pagination -->
</div>