@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-md-8">
    <h1 class="my-4">
        Page Heading
        <small>Secondary Text</small>
    </h1>

    <!-- Blog Post -->
    @foreach (var item in Model.Article)
    {
        <div class="card mb-4">
            <img class="card-img-top" src="@item.CoverPhoto" alt="@item.Title">
            <div class="card-body">
                <h2 class="card-title">@item.Title</h2>
                <p class="card-text">@Html.Raw(item.Body)</p>
                <a href="#" class="btn btn-primary">@item.Tags</a>

                <tags-helper>@item.Tags</tags-helper>

            </div>
            <div class="card-footer text-muted">
                Posted on @item.CreateDate.ToString("yyyy-MM-dd") by me
            </div>
        </div>
    }
</div>