@page
@model BlogEX.Pages.Admin.Article.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Articles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Articles.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Articles.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Articles.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Articles.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Articles.CoverPhoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Articles.CoverPhoto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Articles.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Articles.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Articles.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Articles.Tags)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Articles.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
